.card {
  width: 100%;
  aspect-ratio: 1 / 1; 
  background-color: #d94f4f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #ffffff55;
  color: #ffe8e8;
  font-size: 1.3rem;
  font-weight: 500;
}